.Header {
  z-index: 999;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #fff;
  height: 50px;
  font-family: "Avenir";
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.HeaderIcon img {
  height: 40px;
  width: 40px;
  border-radius: 7px;
  margin-right: 10px;
}

.NameContainer {
  font-weight: 300;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leftMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Avenir";
  padding-left: 45px;
}

.menuItem {
  display: flex;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  color: #999;
  font-size: 18px;
  font-family: "Avenir";
  font-weight: 500;
}

.menuItem:hover {
  color: #276efa;
}

.activeMenuItem {
  font-size: 18px;
  color: #276efa;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .menuItem {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
  .leftMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Avenir";
    padding-left: 20px;
  }
}
